@model IndexPageViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        @if(User.Identity.IsAuthenticated)
        {
            <h4>Currently Logged in as @Model.user.Name</h4>
        }
        @foreach(AdWithLogin_data.AdWithPersonInfo ad in Model.ads)
        {
            <div class="bg-light p-4 rounded shadow mb-3">
                <h2>@ad.Title</h2>
                <h5>Listed by @ad.Name</h5>
                <h5>Listed on @ad.DateCreated</h5>
                <h5>Phone Number: @ad.PhoneNumber</h5>
                <h3>Details:</h3>
                <p>@ad.Details</p>
                @if(ad.PersonId == Model.user.Id)
                {
                    <a href="/home/delete?id=@ad.Id" class="btn btn-danger">Delete</a>
                }
                
                
            </div>
        }
       
        
    </div>
</div>