@model IndexPageViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        @foreach(AdWithLogin_data.AdWithPersonInfo ad in Model.ads)
        {
            <div class="bg-light p-4 rounded shadow mb-3">
                <h5>Listed by @ad.Name</h5>
                <h5>Listed on @ad.DateCreated</h5>
                <h5>Phone Number: @ad.PhoneNumber</h5>
                <h3>Details:</h3>
                <p>@ad.Details</p>
                if(Model.UserAdIds.Contains(@ad.Id))
                {
                    <a href="/home/delete?@ad.Id" class="btn btn-danger">Delete</a>
                }
                
            </div>
        }
       
        
    </div>
</div>